@charset "UTF-8";
body {
  font-family: Roboto;
  line-height: 1;
}

a {
  text-decoration: none;
}

.container-wrapper {
  height: 73px;
}

.logo {
  text-decoration: none;
  font-family: Roboto, sans-serif;
  font-size: 22px;
  font-weight: 300;
  color: #000;
}

.logo:hover {
  color: #f2c351;
}

.container-header {
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menu-burger {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.nav-bar__items {
  font-family: Roboto, sans-serif;
  font-size: 13px;
  font-weight: 600;
  color: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav-bar__items li {
  margin-left: 20px;
}

.menu-burger__button {
  padding-left: 40px;
  font-size: 20px;
}

.nav-bar__list {
  color: #000;
}

.section-intro {
  background: url(image/header-bg.jpg);
  width: 100%;
  height: 533px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.intro-text__welcome {
  text-align: center;
  padding-top: 60px;
  padding-bottom: 40px;
  margin-bottom: 50;
  color: #ffce55;
  font-family: Roboto;
  font-size: 37px;
  font-weight: 700;
  position: relative;
}

.intro-text__welcome::after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 75px;
  height: 4px;
  background-color: #ffce55;
  left: 50%;
  margin-left: -37.5px;
}

.intro-text__title {
  color: #fff;
  font-family: Poppins;
  font-size: 57px;
  font-weight: 600;
  text-align: center;
}

.intro-text__text {
  color: #fff;
  font-family: Roboto, Arial, sans-serif;
  font-size: 20px;
  font-weight: 300;
  text-shadow: 0px 1px 3px black;
  opacity: 0.75;
  margin-bottom: 15px;
  text-align: center;
}

.intro-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 20px;
  gap: 20px;
}

.button-more {
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
  border-bottom-right-radius: 100px;
  border-bottom-left-radius: 100px;
  padding-top: 20px;
  padding-right: 40px;
  padding-bottom: 20px;
  padding-left: 40px;
  color: #fff;
  font-family: Roboto, Arial, sans-serif;
  font-size: 18px;
  font-weight: 500;
  border-style: solid;
  border-width: 2px;
  border-color: #fff;
}

.button-more:hover {
  color: #f2c351;
  border-style: solid;
  border-width: 2px;
  border-color: #f2c351;
}

.button-contact {
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
  border-bottom-right-radius: 100px;
  border-bottom-left-radius: 100px;
  padding-top: 20px;
  padding-right: 40px;
  padding-bottom: 20px;
  padding-left: 40px;
  color: #fff;
  background-color: #f2c351;
  font-family: Roboto, Arial, sans-serif;
  font-size: 18px;
  font-weight: 500;
  border-width: 2px;
  border-color: #fff;
}

.button-contact:hover {
  background-color: #ffce51;
}

.text-center {
  background-color: #f9f9f9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.text-center__title1 {
  color: #222533;
  font-family: Poppins;
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 20px;
  padding-top: 90px;
  padding-bottom: 20px;
  position: relative;
  text-align: center;
}

.text-center__title1::after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 66px;
  height: 3px;
  background-color: #ffce55;
  left: 50%;
  margin-left: -33px;
}

.text-center__title2 {
  color: #333;
  font-family: Roboto, Arial, sans-serif;
  font-size: 16px;
  font-weight: 300;
  margin-top: 5px;
  text-align: center;
}

.text-center__text1 {
  color: #333;
  font-size: 15px;
  font-family: Roboto;
  padding-top: 60px;
  text-align: center;
  line-height: 1.5;
}

.text-center__text2 {
  color: #363636;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  background: #fff;
  border-left-width: 5px;
  border-left-style: solid;
  border-left-color: #f2c351;
  margin-top: 1.5em;
  margin-right: 10px;
  margin-bottom: 1.5em;
  margin-left: 10px;
  padding-top: 0.5em;
  padding-right: 10px;
  padding-bottom: 0.5em;
  padding-left: 10px;
  line-height: 1.8;
  text-align: center;
}

.charts {
  height: 420px;
  background-color: #f9f9f9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 50px;
}

.chart1 {
  border-radius: 50%;
  background: #f2c351;
  width: 255px;
  height: 255px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.chart1::before {
  content: "71%";
  color: #a1b1bc;
  font-family: Roboto, sans-serif;
  font-size: 28px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  background: #f9f9f9;
  width: 93%;
  height: 93%;
  -ms-flex-item-align: center;
      align-self: center;
}

.chart2 {
  border-radius: 50%;
  background: #f2c351;
  width: 255px;
  height: 255px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.chart2::before {
  content: "89%";
  color: #a1b1bc;
  font: Roboto, sans-serif;
  font-size: 28px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  background: #f9f9f9;
  width: 93%;
  height: 93%;
  -ms-flex-item-align: center;
      align-self: center;
}

.chart3 {
  border-radius: 50%;
  background: #f2c351;
  width: 255px;
  height: 255px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.chart3::before {
  content: "88%";
  color: #a1b1bc;
  font: Roboto, sans-serif;
  font-size: 28px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  background: #f9f9f9;
  width: 93%;
  height: 93%;
  -ms-flex-item-align: center;
      align-self: center;
}

.chart4 {
  border-radius: 50%;
  background: #f2c351;
  width: 255px;
  height: 255px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.chart4::before {
  content: "62%";
  color: #a1b1bc;
  font: Roboto, sans-serif;
  font-size: 28px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  background: #f9f9f9;
  width: 93%;
  height: 93%;
  -ms-flex-item-align: center;
      align-self: center;
}

.charts-title {
  font-family: Roboto, sans-serif;
  font-size: 16px;
  text-align: center;
  padding-bottom: 20px;
  padding-top: 50px;
  color: #333;
}

.section-team__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section-team__dev {
  width: 25%;
}

.team-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 25%;
  margin: 5px;
  padding: 5px;
}

.section-contacts {
  background-color: #f0f0f0;
  margin-top: 40px;
  padding-top: 40px;
  padding-bottom: 40px;
}

.section-contacts__title {
  color: #222533;
  font-family: Poppins;
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
  text-align: center;
}

.section-contacts__title::after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 66px;
  height: 3px;
  background-color: #ffce55;
  left: 50%;
  margin-left: -33px;
}

.section-contacts__text {
  color: #333;
  display: block;
  font-family: Roboto, Arial, sans-serif;
  font-size: 16px;
  font-weight: 300;
  margin-top: 5px;
  text-align: center;
}

.section-contacts__field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 40px;
}

.button_message {
  color: #fff;
  background-color: #ffce55;
  font-family: Roboto, Arial, sans-serif;
  height: 50px;
  width: 100px;
  border: none;
}

.button_message:hover {
  background-color: darkorange;
}

.footer-rows {
  font-family: Roboto, sans-serif;
  color: #fff;
  background-color: #313233;
  padding-top: 45px;
}

.footer-about__text {
  color: rgba(255, 255, 255, 0.75);
  font-size: 14px;
  line-height: 1.8;
  padding-bottom: 45px;
}

.footer-themes__list {
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.list__thems {
  color: #fff;
  text-decoration: none;
}

.list__thems::before {
  content: "→";
  margin-right: 8px;
}

.list__thems:hover {
  color: #f2c351;
}

.list__shapely {
  color: #fff;
  text-decoration: none;
}

.list__shapely::before {
  content: "→";
  margin-right: 8px;
}

.list__illdy {
  color: #fff;
  text-decoration: none;
}

.list__illdy::before {
  content: "→";
  margin-right: 8px;
}

.heart_icon {
  color: #f2c351;
}
/*# sourceMappingURL=styles.css.map */