@charset "UTF-8";
body {
  font-family: Roboto;
  line-height: 1;
}

a {
  text-decoration: none;
}

.container-wrapper {
  height: 73px;
}

.logo {
  text-decoration: none;
  font-family: Roboto, sans-serif;
  font-size: 22px;
  font-weight: 300;
  color: #000;
}

.logo:hover {
  color: #f2c351;
}

.container-header {
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 180px;
  padding-right: 180px;
}

.menu-burger {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.nav-bar__items {
  font-family: Roboto, sans-serif;
  font-size: 13px;
  font-weight: 600;
  color: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  visibility: hidden;
  opacity: 0;
}

.nav-bar__items li {
  margin-left: 20px;
}

.menu-burger__button {
  padding-left: 40px;
  font-size: 20px;
}

.button-burger {
  color: #000;
}

.menu:hover .nav-bar__items {
  visibility: visible;
  opacity: 1;
}

.nav-bar__list {
  color: #000;
}

.nav-bar__list:hover {
  color: #f2c351;
}

/* Динамічна менюха */
.section-intro {
  background: url(image/header-bg.jpg);
  width: 100%;
  height: 533px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.intro-text__welcome {
  text-align: center;
  padding-top: 60px;
  padding-bottom: 40px;
  margin-bottom: 50;
  color: #ffce55;
  font-family: Roboto;
  font-size: 37px;
  font-weight: 700;
  position: relative;
}

.intro-text__welcome::after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 75px;
  height: 4px;
  background-color: #ffce55;
  left: 50%;
  margin-left: -37.5px;
}

.intro-text__title {
  color: #fff;
  font-family: Poppins;
  font-size: 57px;
  font-weight: 600;
  text-align: center;
}

.intro-text__text {
  color: #fff;
  font-family: Roboto, Arial, sans-serif;
  font-size: 20px;
  font-weight: 300;
  text-shadow: 0px 1px 3px black;
  opacity: 0.75;
  margin-bottom: 15px;
  text-align: center;
}

.intro-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 20px;
  gap: 20px;
}

.button-more {
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
  border-bottom-right-radius: 100px;
  border-bottom-left-radius: 100px;
  padding-top: 20px;
  padding-right: 40px;
  padding-bottom: 20px;
  padding-left: 40px;
  color: #fff;
  font-family: Roboto, Arial, sans-serif;
  font-size: 18px;
  font-weight: 500;
  border-style: solid;
  border-width: 2px;
  border-color: #fff;
}

.button-more:hover {
  color: #f2c351;
  border-style: solid;
  border-width: 2px;
  border-color: #f2c351;
}

.button-contact {
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
  border-bottom-right-radius: 100px;
  border-bottom-left-radius: 100px;
  padding-top: 20px;
  padding-right: 40px;
  padding-bottom: 20px;
  padding-left: 40px;
  color: #fff;
  background-color: #f2c351;
  font-family: Roboto, Arial, sans-serif;
  font-size: 18px;
  font-weight: 500;
  border-width: 2px;
  border-color: #fff;
}

.button-contact:hover {
  background-color: #ffce51;
}

.text-center {
  background-color: #f9f9f9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.text-center__title1 {
  color: #222533;
  font-family: Poppins;
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 20px;
  padding-top: 90px;
  padding-bottom: 20px;
  position: relative;
  text-align: center;
}

.text-center__title1::after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 66px;
  height: 3px;
  background-color: #ffce55;
  left: 50%;
  margin-left: -33px;
}

.text-center__title2 {
  color: #333;
  font-family: Roboto, Arial, sans-serif;
  font-size: 16px;
  font-weight: 300;
  margin-top: 5px;
  text-align: center;
}

.text-center__text1 {
  color: #333;
  font-size: 15px;
  font-family: Roboto;
  padding-top: 60px;
  text-align: center;
  line-height: 1.5;
}

.text-center__text2 {
  color: #363636;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  background: #fff;
  border-left-width: 5px;
  border-left-style: solid;
  border-left-color: #f2c351;
  margin-top: 1.5em;
  margin-right: 10px;
  margin-bottom: 1.5em;
  margin-left: 10px;
  padding-top: 0.5em;
  padding-right: 10px;
  padding-bottom: 0.5em;
  padding-left: 10px;
  line-height: 1.8;
  text-align: center;
}

.charts {
  height: 420px;
  background-color: #f9f9f9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 50px;
  gap: 40px;
}

.chart1 {
  border-radius: 50%;
  background: #f2c351;
  width: 255px;
  height: 255px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.chart1::before {
  content: "71%";
  color: #a1b1bc;
  font-family: Roboto, sans-serif;
  font-size: 28px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  background: #f9f9f9;
  width: 93%;
  height: 93%;
  -ms-flex-item-align: center;
      align-self: center;
}

.chart2 {
  border-radius: 50%;
  background: #f2c351;
  width: 255px;
  height: 255px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.chart2::before {
  content: "89%";
  color: #a1b1bc;
  font: Roboto, sans-serif;
  font-size: 28px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  background: #f9f9f9;
  width: 93%;
  height: 93%;
  -ms-flex-item-align: center;
      align-self: center;
}

.chart3 {
  border-radius: 50%;
  background: #f2c351;
  width: 255px;
  height: 255px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.chart3::before {
  content: "88%";
  color: #a1b1bc;
  font: Roboto, sans-serif;
  font-size: 28px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  background: #f9f9f9;
  width: 93%;
  height: 93%;
  -ms-flex-item-align: center;
      align-self: center;
}

.chart4 {
  border-radius: 50%;
  background: #f2c351;
  width: 255px;
  height: 255px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.chart4::before {
  content: "62%";
  color: #a1b1bc;
  font: Roboto, sans-serif;
  font-size: 28px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  background: #f9f9f9;
  width: 93%;
  height: 93%;
  -ms-flex-item-align: center;
      align-self: center;
}

.charts-title {
  font-family: Roboto, sans-serif;
  font-size: 16px;
  text-align: center;
  padding-bottom: 20px;
  padding-top: 50px;
  color: #333;
}

/* Recent Works */
.section-recent-works {
  background-color: #f0f0f0;
}

.section-recent-works__box {
  text-align: center;
  line-height: 1.4;
  margin-bottom: 65px;
}

.section-recent-works__title1 {
  color: #222533;
  font-size: 30px;
  font-family: Poppins;
  font-weight: 600;
  margin-bottom: 20px;
  padding-top: 40px;
  padding-bottom: 20px;
  position: relative;
}

.section-recent-works__title1::after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 66px;
  height: 3px;
  background-color: #ffce55;
  left: 50%;
  margin-left: -33px;
}

.recent-work__images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: auto;
}

.section-words__box {
  text-align: center;
  line-height: 1.4;
}

.section-words__title1 {
  color: #222533;
  font-size: 30px;
  font-family: Poppins;
  font-weight: 600;
  margin-bottom: 20px;
  padding-top: 40px;
  padding-bottom: 20px;
  position: relative;
}

.section-words__title1::after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 66px;
  height: 3px;
  background-color: #ffce55;
  left: 50%;
  margin-left: -33px;
}

.words-images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 80px;
  text-align: center;
}

.words-picture {
  border: 5px solid #f8f8f8;
  border-radius: 50%;
  max-width: 138px;
  max-height: 138px;
  width: 138px;
  height: 138px;
}

.word-text {
  font-size: 18px;
  text-align: center;
  color: #363636;
  line-height: 1.8;
  font-family: Roboto, sans-serif;
  padding-top: 20px;
}

.word-author__box {
  padding-top: 10px;
}

.word-author {
  color: #f2c351;
  font-size: 16px;
  font-style: normal;
  padding-top: 10px;
}

.control-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 30px;
  gap: 10px;
}

.button-prev::before {
  content: "\003C";
  text-align: center;
  font-size: 30px;
}

.button-next::before {
  content: "\003E";
  text-align: center;
  font-size: 30px;
}

.section-news__title1 {
  color: #222533;
  font-size: 30px;
  font-family: Poppins;
  font-weight: 600;
  margin-bottom: 20px;
  padding-top: 40px;
  padding-bottom: 20px;
  position: relative;
  text-align: center;
}

.section-news__title1::after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 66px;
  height: 3px;
  background-color: #ffce55;
  left: 50%;
  margin-left: -33px;
}

.section-news__title2 {
  color: #333;
  display: block;
  font-family: Roboto, Arial, sans-serif;
  font-size: 16px;
  font-weight: 300;
  margin-top: 5px;
  text-align: center;
}

.section-news__conteiner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 40px;
}

.section-news__link {
  color: #333;
  display: block;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 40px;
  margin-top: 15px;
  font-family: Poppins;
}

.section-news__link:hover {
  color: #f2c351;
}

.image__box {
  width: 400px;
}

.news__date {
  color: #f2c351;
  font-size: 14px;
  font-weight: 400;
  font-family: Roboto;
}

.news__text {
  padding: 0 10px;
  font-size: 15px;
  line-height: 27px;
  font-family: Roboto;
  color: #777;
  text-align: center;
}

.section-team__title1 {
  color: #222533;
  font-size: 30px;
  font-family: Poppins;
  font-weight: 600;
  margin-bottom: 20px;
  padding-top: 200px;
  padding-bottom: 20px;
  position: relative;
  text-align: center;
}

.section-team__title1::after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 66px;
  height: 3px;
  background-color: #ffce55;
  left: 50%;
  margin-left: -33px;
}

.section-team__title2 {
  color: #333;
  display: block;
  font-family: Roboto, Arial, sans-serif;
  font-size: 16px;
  font-weight: 300;
  margin-top: 5px;
  text-align: center;
}

.section-team__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section-team__dev {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  padding-top: 0px;
  padding-right: 15px;
  padding-bottom: 40px;
  padding-left: 15px;
  position: relative;
  text-align: center;
  vertical-align: top;
  height: auto;
  width: 25%;
}

.section-team__dev:hover .team-icons {
  visibility: visible;
  opacity: 1;
}

.section-team__dev:hover .team-image:hover {
  opacity: 0.75;
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

.team-image {
  padding-top: 60px;
}

.team-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #363636;
  left: 32%;
  margin-top: 10px;
  padding: 8px 10px 8px 10px;
  position: relative;
  visibility: hidden;
  opacity: 0;
  width: 100px;
  border-radius: 5px;
  text-align: center;
  gap: 10px;
}

.team-icons::before {
  content: "";
  border: solid transparent;
  position: absolute;
  bottom: 100%;
  left: 50%;
  border-bottom-color: #363636;
  border-width: 6px;
  margin-left: -6px;
}

.team-icons__fb,
.team-icons__ball,
.team-icons__email,
.team-icons__in,
.team-icons__p,
.team-icons__t,
.team-icons__google,
.team-icons__insta {
  text-decoration: none;
  font-size: 13px;
  color: #fff;
}

.team-icons__fb:hover {
  color: #f2c351;
}

.team-icons__ball:hover {
  color: #f2c351;
}

.team-icons__email:hover {
  color: #f2c351;
}

.team-icons__in:hover {
  color: #f2c351;
}

.team-icons__p:hover {
  color: #f2c351;
}

.team-icons__t:hover {
  color: #f2c351;
}

.team-icons__google:hover {
  color: #f2c351;
}

.team-icons__insta:hover {
  color: #f2c351;
}

.section-contacts {
  background-color: #f0f0f0;
  margin-top: 40px;
  padding-top: 40px;
  padding-bottom: 40px;
}

.section-contacts__title {
  color: #222533;
  font-family: Poppins;
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
  text-align: center;
}

.section-contacts__title::after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 66px;
  height: 3px;
  background-color: #ffce55;
  left: 50%;
  margin-left: -33px;
}

.section-contacts__text {
  color: #333;
  display: block;
  font-family: Roboto, Arial, sans-serif;
  font-size: 16px;
  font-weight: 300;
  margin-top: 5px;
  text-align: center;
}

.section-contacts__field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 40px;
}

.section-contacts__box {
  -ms-flex-line-pack: center;
      align-content: center;
}

.button_message {
  color: #fff;
  background-color: #ffce55;
  font-family: Roboto, Arial, sans-serif;
  height: 50px;
  width: 100px;
  border: none;
}

.button_message:hover {
  background-color: darkorange;
}

.footer-rows {
  font-family: Roboto, sans-serif;
  color: #fff;
  background-color: #313233;
  padding-top: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.footer-about__text {
  color: rgba(255, 255, 255, 0.75);
  font-size: 14px;
  line-height: 1.8;
  padding-bottom: 45px;
}

.footer-themes__list {
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 10px;
}

.list__thems {
  color: #fff;
  text-decoration: none;
}

.list__thems::before {
  content: "→";
  margin-right: 8px;
}

.list__thems:hover {
  color: #f2c351;
}

.list__shapely {
  color: #fff;
  text-decoration: none;
}

.list__shapely::before {
  content: "→";
  margin-right: 8px;
}

.list__shapely:hover {
  color: #f2c351;
}

.list__illdy {
  color: #fff;
  text-decoration: none;
}

.list__illdy::before {
  content: "→";
  margin-right: 8px;
}

.list__illdy:hover {
  color: #f2c351;
}

.footer-post_list1 {
  color: #fff;
  text-decoration: none;
}

.footer-post_list1:hover {
  color: #f2c351;
}

.footer-post_list2 {
  color: #fff;
  text-decoration: none;
}

.footer-post_list2:hover {
  color: #f2c351;
}

.footer-post_list3 {
  color: #fff;
  text-decoration: none;
}

.footer-post_list3:hover {
  color: #f2c351;
}

.social-media {
  background-color: #313233;
  text-align: center;
  height: 100px;
}

.social-media__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.social-media__box {
  margin-top: 5px;
  margin-right: 5px;
  margin-bottom: 5px;
  margin-left: 5px;
  padding-top: 5px;
  padding-right: 10px;
  padding-bottom: 5px;
  padding-left: 10px;
  background-color: #4a4a4a;
  border-radius: 4px;
  text-align: center;
  font-size: 18px;
  display: inline-block;
}

.social-icon {
  color: #fff;
}

.social-icon:hover {
  color: #f2c351;
}

.footer-end__box {
  color: rgba(255, 255, 255, 0.75);
  background-color: #1f1f1f;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 70px;
}

.heart_icon {
  color: #f2c351;
}
/*# sourceMappingURL=styles.css.map */